* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}
.MyMap {
  width: 100vw;
  height: 97vh;
}
.coordinates-container {
  width: 100vw;
  height: 3vh;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.coordinates-container input {
  color: black;
}
h1 {
  font-size: 15px;
  padding: 0 10px;
}
.widget-component {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
}
.widget-component button {
  color: rgb(37, 37, 37);
  background-color: aliceblue;
  padding: 5px;
  margin: 10px auto;
  border-radius: 3px;
  width: 100%;
}
.widget-component input {
  color: rgb(37, 37, 37);
  background-color: aliceblue;
  padding: 5px;
  margin: 10px auto;
  border-radius: 3px;
}
.SketchViewModelUI-content {
  background-color: rgb(36, 36, 36);
  height: 15vh;
  width: 14vw;
  display: flex;
  flex-direction: column;
}
.SketchViewModelUI-content h1 {
  margin: 10px auto;
}
.SketchViewModelUI-content button {
  color: rgb(36, 36, 36);
  background-color: rgb(243, 243, 243);
  padding: 0 15px;
  margin: 0px auto;
  border-radius: 3px;
  width: 50%;
  height: 30px;
}
.SketchViewModelUI-content button:hover {
  background-color: azure;
}
#sketchVM-Widget {
  background-color: rgb(36, 36, 36);
  height: 30vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
#sketchVM-Widget h1 {
  color: white;
}
#sketchVM-Widget button {
  color: rgb(36, 36, 36);
  width: 40%;
  height: 10%;
  margin: 15px;
}
#sketchViewModel {
  background-color: rgb(36, 36, 36);

  height: 30vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
#sketchViewModel button {
  color: rgb(36, 36, 36);
  /* width: 40%; */
  /* height: 10%; */
  margin: 15px;
  /* font-size: 50%; */
}
/* .coordinates-container h1 {
  margin-right: 20px;
  margin-left: 20px;
} */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
